[Desktop Entry]
Name=PlasmaNGenuity
Comment=Full configuration tool and battery monitor for HyperX Pulsefire Dart wireless mouse
Exec=plasmangenuity-tray
Icon=input-mouse
Type=Application
Terminal=false
Categories=Utility;System;HardwareSettings;
Keywords=hyperx;mouse;gaming;battery;dpi;led;rgb;plasmangenuity;
X-GNOME-Autostart-enabled=true
StartupNotify=false
